* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
  -moz-transition-property: all;
  -moz-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6); }

html {
  font-family: "lato", sans-serif;
  color: white; }

.hide {
  display: none; }

header {
  height: 90px;
  width: 100vw;
  background-color: #384c99;
  padding: 20px 60px; }
  header img {
    display: inline-block;
    height: 50px; }
  header input, header button {
    float: right;
    height: 40px;
    border: none;
    margin-left: 30px; }
  header button {
    width: 100px; }

main {
  padding: 40px 80px;
  background-image: url("../img/cloudbackground.jpg");
  background-size: cover;
  min-height: 800px; }

.playlist .title {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  color: white; }
.playlist .save-spotify {
  background-color: #ffeb66;
  border: none;
  color: #384c99;
  display: block;
  position: relative;
  text-align: center;
  width: 320px;
  height: 50px;
  margin: 0 auto;
  font-size: 24px;
  position: relative;
  font-weight: 400; }
.playlist .btn {
  position: relative;
  display: block;
  width: 320px;
  height: 50px;
  font-size: 12px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #ffeb66;
  cursor: pointer;
  overflow: hidden;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; }
.playlist .btn svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px; }
.playlist .btn svg rect {
  fill: none;
  stroke: #ffeb66;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1); }

.btn:hover svg rect {
  stroke-width: 5;
  stroke-dasharray: 35, 550;
  stroke-dashoffset: 60; }

.btn:hover {
  color: #ffeb66;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: transparent; }

#results {
  position: relative;
  width: 57%;
  margin-left: 240px; }
  #results ul li {
    border-bottom: 1px solid #384c99;
    padding: 8px 20px 8px 20px;
    height: 40px;
    width: 100%; }
    #results ul li p {
      font-size: 20px;
      display: inline; }
    #results ul li img {
      vertical-align: middle;
      height: auto;
      width: 25px;
      border-radius: 50%;
      display: inline;
      float: right; }
    #results ul li img:first-of-type {
      margin-left: 15px; }

.splash {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("../img/splash.jpg");
  background-size: cover; }
  .splash .logo {
    height: 170px;
    width: 540px;
    margin: 60px 50% 0;
    transform: translateX(-50%); }
    .splash .logo img {
      height: 170px;
      width: 540px; }
  .splash h1 {
    text-align: center;
    color: #ffeb66;
    letter-spacing: .2em;
    font-weight: 300;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 20px; }
  .splash b {
    font-size: 36px;
    color: white;
    text-align: center;
    display: block;
    margin-bottom: 20px; }
  .splash .options {
    height: 400px;
    width: 60%;
    font-size: 28px;
    margin: 0 auto;
    position: relative; }
    .splash .options .btn2 {
      position: relative;
      display: block;
      width: 320px;
      height: 50px;
      font-size: 12px;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      color: #ffeb66;
      cursor: pointer;
      overflow: hidden;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.1);
      margin-bottom: 20px; }
    .splash .options .btn2 svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 400px; }
    .splash .options .btn2 svg rect {
      fill: none;
      stroke: #ffeb66;
      stroke-width: 1;
      stroke-dasharray: 422, 0;
      -webkit-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1); }
  .splash .btn2:hover svg rect {
    stroke-width: 5;
    stroke-dasharray: 35, 550;
    stroke-dashoffset: 60; }
  .splash .btn2:hover {
    color: #ffeb66;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: transparent; }
  .splash button {
    background-color: #ffeb66;
    border: none;
    color: #384c99;
    display: block;
    position: relative;
    text-align: center; }
  .splash .currentLocation {
    width: 280px;
    height: 50px;
    margin: 0 auto;
    font-size: 28px;
    position: relative; }
  .splash p {
    text-align: center;
    margin: -10px auto;
    color: #ffeb66; }
  .splash .base {
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px; }
  .splash .searchbox {
    width: 430px;
    height: 200px;
    margin: 0 auto; }
  .splash input {
    font-size: 28px;
    height: 70px;
    width: 350px;
    margin: 0 auto;
    float: left;
    background: white url("../img/search.png") no-repeat left center;
    background-size: 50px;
    padding-left: 50px; }
  .splash .newCity {
    width: 70px;
    height: 70px;
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 24px; }

i {
  display: block;
  text-align: center;
  margin: 130px auto 0;
  font-size: 18px;
  color: red;
  opacity: 0; }

.weather {
  position: absolute;
  right: 80px;
  top: 200px; }
  .weather .weatherImg {
    display: block;
    width: 200px;
    height: auto;
    margin-bottom: 30px; }
  .weather b {
    display: inline-block;
    transform: translateY(50%);
    font-size: 80px;
    font-weight: 300;
    margin-right: 20px;
    color: white; }
  .weather .f {
    vertical-align: middle;
    height: auto;
    width: 100px; }

.albumCover {
  position: absolute;
  top: 280px;
  left: 80px; }
  .albumCover img {
    height: 150px;
    width: 150px; }

.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: url("http://assets.materialup.com/uploads/1993300c-1d8a-4e3f-8f1b-544d4ecfb2fa/abd072f63be81c7167dca2bcf8f39bfc.gif") 50% 50% no-repeat;
  background-size: cover; }

/*# sourceMappingURL=main.css.map */
