//variables
$headerBlue: #384c99;
$yellow: #ffeb66;
$lightBlue: #bcd4fb;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
html {
	font-family: "lato", sans-serif;
}

// .hide {
// 	display: none;
// }

header {
	height: 90px;
	width: 100vw;
	background-color: $headerBlue;
	padding: 20px 60px;

	img {
		display: inline-block;
		height: 40px;
		background-color: pink;
	}

	input, button {
		float: right;
		height: 40px;
		border: none;
		margin-left: 30px;
	}

	button {
		width: 100px;
	}
}

main {
	padding: 40px 80px;
}

.playlist {

	.title {
		font-size: 55px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 60px;
	}

	#results {
		position: relative;
		width: 57%;
		margin-left: 180px;

		ul {

			li {
				border-bottom: 2px solid black;
				padding: 13px 0px 13px 20px;
				height: 60px;
				width: 100%;

				p {
					font-size: 30px;
					display: inline;
				}

				img {
					vertical-align: middle;
					height: 35px;
					width: 35px;
					border-radius: 50%;
					background-color: green;
					display: inline;
					float: right;
				}

				img:first-of-type {
					margin-left: 15px;
					background-color: yellow;
				}
			}
		}
	}
}

.splash {
	display: none;
	position: relative;
	height: 100vh;
	width: 100vw;
	background-image: url('../img/splash.jpg');
	background-size: cover;
	
	.logo {
	height: 170px;
    width: 540px;
    margin: 60px 50% 0;
    transform: translateX(-50%);

		img {
			height: 170px;
			width: 540px;
		}
	}

	h1 {
		text-align: center;
		color: $yellow;
		letter-spacing: .2em;
		font-weight: 300;
		font-size: 1.4em;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	b {
		font-size: 36px;
		color: white;
		text-align: center;
		display: block;
		margin-bottom: 20px;
	}
	.options {
		height: 400px;
		width: 60%;
		font-size: 28px;
		margin: 0 auto;
		position: relative;
		
		button {
			background-color: $yellow;
			border: none;
			color: $headerBlue;
			display: block;
			position: relative;
			text-align: center;
		}
		.currentLocation {
			width: 280px;
			height: 50px;
			margin: 0 auto;
			font-size: 28px;
			position: relative;
		}
		p {
		
			text-align: center;
			
			margin: -10px auto;
			color: $yellow;
		}
		
		.base {
			color: white;
			font-size: 18px;
			font-weight: 300;
			margin-bottom: 10px;
			margin-top: 10px;
		}
		
		
			.searchbox {
			width: 430px;
			height: 200px;
			margin: 0 auto;
		}


		input {
			font-size: 28px;
			height: 70px;
			width: 350px;
			margin: 0 auto;
			float: left;
			background: white url('../img/search.png') no-repeat left center;
			background-size: 50px;
			padding-left: 50px
		}
		.newCity {
			width: 70px;
			height: 70px;
			display: inline-block;
			position: relative;
			font-weight: 700;
			font-size: 24px;
		}
	}
	i {
		display: block;
		text-align: center;
		margin: 130px auto 0;
		font-size: 18px;
		color: red;
		opacity: 0;
	}
}

.weather {
	position: absolute;
	right: 80px;
	top: 250px;

	.weatherImg {
		display: block;
		height: 200px;
		margin-bottom: 30px;
		background-color: red;
	}
	
	b {
		display: inline-block;
		transform: translateY(50%);
		font-size: 80px;
		font-weight: bold;
		margin-right: 20px;
	}

	.f {
		vertical-align: middle;
		height: 150px;
		width: 150px;
		background-color: blue;
	}
}

.albumCover {
	position: absolute;
	top: 280px;
	left: 80px;

	img {
		height: 150px;
		width: 150px;
		background-color: orange;
	}
}





















