//variables
$headerBlue: #384c99;
$yellow: #ffeb66;
$lightBlue: #bcd4fb;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow: hidden;
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
	-moz-transition-duration: .2s;
  	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

html {
	font-family: "lato", sans-serif;
	color: white;
}

.hide {
	display: none;
}

header {
	height: 90px;
	width: 100vw;
	background-color: $headerBlue;
	padding: 20px 60px;

	.searchbox2 {
		width: 45%;
		float: right;
	}


	.newCity2 {
		width: 120px !important;
	}

	img {
		display: inline-block;
		height: 50px;
		
	}		
}

main {
	padding: 40px 80px;
	background-image: url('../img/cloudbackground.jpg');
	background-size: cover;
	min-height: 800px;
}

.playlist {

	.title {
		font-size: 50px;
		font-family: Dosis, sans-serif;
		font-weight: bold;
		text-align: center;
		margin-bottom: 35px;
		color: white;
	}

	.btn {
	  position: relative;
	  display: block;
	  width: 320px;
	  height: 50px;
	  font-size: 12px;
	  line-height: 50px;
	  text-align: center;
	  text-transform: uppercase;
	  color: $yellow;
	  cursor: pointer;
	  overflow: hidden;
	  margin: 0 auto;
	  background-color: rgba(0,0,0,.1);
	  margin-bottom: 20px;	
	  
	}
	.btn svg {
	  position: absolute;
	  top: 0; left: 0;
	  width: 400px
	}
	.btn svg rect {
	  fill: none;
	  stroke: $yellow;
	  stroke-width: 1;
	  stroke-dasharray: 422, 0;
	  -webkit-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
	  -moz-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
	  transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
	}
}

.btn:hover svg rect {
  stroke-width: 5;
  stroke-dasharray: 35, 550;
  stroke-dashoffset: 60;
  
}

.btn:hover {
  color: $yellow;
  font-size:18px;
  letter-spacing:1px;
  font-weight:bold;
  background-color: rgba(0,0,0,0)
}

#results {
	position: relative;
	width: 57%;
	margin-left: 240px;

	ul {

		li {
			border-bottom: 1px solid $headerBlue;
			padding: 8px 0px 8px 0px;
			height: 40px;
			width: 100%;

			.bullet {
				font-size: 16px;
				font-style: normal;
			}

			p {
				font-size: 20px;
				font-style: italic;
				display: inline;
			}

			b {
				font-size: 24px;
				font-style: bold;
				color: $lightBlue;

			}

			img {
				vertical-align: middle;
				height: auto;
				width: 25px;
				border-radius: 50%;
				display: inline;
				float: right;
			}

			img:first-of-type {
				margin-left: 15px;
				
			}
		}
	}
}


.splash {
	// display: none;
	position: relative;
	height: 100vh;
	width: 100vw;
	background-image: url('../img/splash.jpg');
	background-size: cover;
	
	.logo {
	height: 170px;
    width: 540px;
    margin: 60px 50% 0;
    transform: translateX(-50%);

		img {
			height: 170px;
			width: 540px;
		}
	}

	h1 {
		text-align: center;
		color: $yellow;
		letter-spacing: .2em;
		font-weight: 300;
		font-size: 1.4em;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	b {
		font-size: 40px;
		letter-spacing: 2px;
		font-family: dosis, sans-serif;
		color: white;
		text-align: center;
		display: block;
		margin-bottom: 20px;
	}

	.options {
		height: 400px;
		width: 60%;
		font-size: 28px;
		margin: 0 auto;
		position: relative;
	}
	.btn2 {
	  position: relative;
	  display: block;
	  width: 320px;
	  height: 51px;
	  font-size: 14px;
	  line-height: 50px;
	  text-align: center;
	  text-transform: uppercase;
	  color: $yellow;
	  cursor: pointer;
	  overflow: hidden;
	  margin: 0 auto;
	  background-color: rgba(0,0,0,.1);
	  margin-bottom: 20px;	  
	}

	.btn2 svg {
	  position: absolute;
	  top: 0; left: 0;
	  width: 400px
	}
	.btn2 svg rect {
	  fill: none;
	  stroke: $yellow;
	  stroke-width: 1;
	  stroke-dasharray: 422, 0;
	  -webkit-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
	  -moz-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
	  transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
	}
	.btn2:hover svg rect {
	  stroke-width: 5;
	  stroke-dasharray: 35, 550;
	  stroke-dashoffset: 60;
	  
	}

	.btn2:hover {
	  color: $yellow;
	  font-size:18px;
	  letter-spacing:1px;
	  font-weight:bold;
	  background-color: rgba(0,0,0,0)
	}
}
		
	button {
		background-color: $yellow;
		border: none;
		color: $headerBlue;
		display: block;
		position: relative;
		text-align: center;
	}
	.currentLocation {
		width: 280px;
		height: 50px;
		margin: 0 auto;
		font-size: 28px;
		position: relative;
	}
	p {
	
		text-align: center;
		display: block;
		margin: 0px auto;
		color: $yellow;
		margin-bottom: 30px;
	}
	
	.base {
		color: white;
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 10px;
		margin-top: 10px;
	}
i {
	display: block;
	text-align: center;
	margin: 130px auto 0;
	font-size: 18px;
	color: red;
	opacity: 0;
}


.weather {
	position: absolute;
	right: 80px;
	top: 200px;

	.weatherImg {
		display: block;
		width: 200px;
		height: auto;
		margin-bottom: 30px;
	}
	
	b {
		display: inline-block;
		transform: translateY(50%);
		font-size: 80px;
		font-weight: 300;
		margin-right: 20px;
		color: white;
	}

	.f {
		vertical-align: middle;
		height: auto;
		width: 100px;
	}
}

.albumCover {
	position: absolute;
	top: 280px;
	left: 80px;

	img {
		height: 150px;
		width: 150px;
	}
}

.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width:100vw;
	height: 100vh;
	z-index: 9999;
	background: url('../img/loading.gif') 50% 50% no-repeat;
	background-size: cover;
}


	.searchbox {
			width: 470px;
			height: 200px;
			margin: 0 auto;
		}


		input {
			font-size: 28px;
			height: 50px;
			width: 400px;
			margin: 0 auto;
			float: left;
			background: white url('../img/search.png') no-repeat left center;
			background-size: 30px; 
			padding-left: 40px;
			padding-right: 20px;
			outline: none;
		}
		

		*::-webkit-input-placeholder {
   color: #c7c7c7;
}

*:-moz-placeholder {
   color: #c7c7c7;
}

*::-moz-placeholder {
   color: #c7c7c7;
}

*:-ms-input-placeholder {
   color: #c7c7c7;
}



.button_base {
    margin: 0;
    border: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    position: relative;
    width: 70px;
    height: 50px;
    cursor: default;
}

.button_update {
	width: 100px
}

.button_base:hover {
    cursor: pointer;
}

.b03_skewed_slide_in {
    overflow: hidden;
    border: $yellow solid 1px;
}

.b03_skewed_slide_in div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}

.b03_skewed_slide_in div:nth-child(1) {
    color: $yellow;
    background-color: rgba(0,0,0,.1);;
}

.b03_skewed_slide_in div:nth-child(2) {
    background-color:  $yellow;
    width: 230px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: translate(-250px, 0px) skewX(-30deg);
    -webkit-transform: translate(-250px, 0px) skewX(-30deg);
    -moz-transform: translate(-250px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in div:nth-child(3) {
    color: $headerBlue;
    font-style: bold;
    font-size: 18px;
    font-weight: 700;
    left: -200px;
    transition: left 0.2s ease;
    -webkit-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
}

.b03_skewed_slide_in:hover div:nth-child(2) {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transform: translate(-15px, 0px) skewX(-30deg);
    -webkit-transform: translate(-15px, 0px) skewX(-30deg);
    -moz-transform: translate(-15px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in:hover div:nth-child(3) {
    left: 0px;
    transition: left 0.30000000000000004s ease;
    -webkit-transition: left 0.30000000000000004s ease;
    -moz-transition: left 0.30000000000000004s ease;
}












